@import url("font-awesome.min.css");

body{
	font: FontAwesome;
}

.dropdown{
	color: purple;
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url('../images/downarrow.png') no-repeat;
	background-position: 100% 0%;
	background-size: 30px;
	width: 100%;
	height: 100%;
	color: #800080;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 #800080;
	content: 
}

.line{
	border-right: 2px grey solid;
	height: 575px;
	margin-left: -5%;
	margin-right: -5%;
}
.bot{
	margin-top: -20%;
}

.submit{
	margin-top: -7%;	
}